<div style="display: flex; gap: .5rem; align-items: center;">
    <a
        class="button"
        href="{% url 'admin:flex_report_template_report' obj.saved_filter.template.pk %}?{{ saved_filter_keyword }}={{ obj.saved_filter.pk }}"
    >
        <span style="font-size: small" class="material-icons">visibility</span>
    </a>
    <a class="button" href="{% url 'admin:notification_compaign_notify' obj.pk %}">
        <span style="font-size: small" class="material-icons">notifications_active</span>
    </a>
    <a href="{% url 'admin:notification_campaignnotification_changelist' %}?campaign_notification_type__campaign__title={{ obj.title }}" class="button">
        <span class="material-icons" style="font-size: small">receipt_long</span>
    </a>
</div>
