<div style="display: flex; gap: 0.5rem; align-items: center">
    <a
        class="button"
        href="{% url 'admin:flex_report_template_report' obj.saved_filter.template.pk %}?{{ saved_filter_keyword }}={{ obj.saved_filter.pk }}"
    >
        Recipients
    </a>
    <a
        class="button"
        href="{% url 'admin:notification_compaign_notify' obj.pk %}"
        title="Notify Recipients"
    >
        Send
    </a>
    <a
        href="{% url 'admin:notification_campaignnotification_changelist' %}?campaign_notification_type__campaign__id={{ obj.pk }}"
        class="button"
    >
        Log
    </a>
</div>
