Django~=5.1.0
psycopg2-binary~=2.9.0
graphene-django~=3.2.0
django-allauth~=64.2.0
django-allauth[socialaccount]
django-extensions~=3.2.0
django-graphene-auth~=1.1.0
django-redis~=5.4.0
gunicorn~=23.0.0
uvicorn~=0.30.0
django-cors-headers~=4.4.0
graphene-django-optimizer~=0.10.0
dj-rest-auth~=6.0.0
django-colorfield~=0.11.0
graphene-django-cud~=0.13.0
graphene-file-upload~=1.3.0
django-cities-light~=3.10.0
django-phonenumber-field[phonenumbers]~=8.0.0
django-markdownfield~=0.11.0
django-computedfields~=0.2.0
python-magic~=0.4.0
google-cloud-vision~=3.8.0
httpx~=0.27.0
pydantic[email]~=2.9.0
pydantic_extra_types~=2.10.0
google-cloud-scheduler~=2.14.0
google-cloud-pubsub~=2.27.0
django-storages[google]~=1.14.0
django-flex-blob==0.0.12
django-flex-pubsub==0.0.17
func_timeout~=4.3.0
django-flex-report==0.9.13
google-auth~=2.35.0
google-cloud-secret-manager~=2.20.0
django-environ~=0.11.0
google-cloud-storage~=2.18.2
django-model-utils~=5.0.0
django-flex-observer==0.0.4
django-flex-eav==0.0.4
pdfkit~=1.0.0
django-cachalot~=2.7.0
PyMuPDF~=1.25.1
rules~=3.5.0
google-genai~=0.8.0
disposable-email-domains~=0.0.112
django-import-export~=4.3.0
tablib[xlsx]~=3.7.0
twilio~=9.4.0
croniter~=6.0.0
firebase-admin~=6.6.0
django-ratelimit~=4.1.0
google-cloud-recaptcha-enterprise==1.26.1