{% extends "email/verification/base.html" %}

{% block verification_content %}
<h2>Dear {{ employer }},</h2>
<p>We hope this message finds you well.</p>
<p>
    This email is sent on behalf of <strong>Canada Prime Jobs (CPJ)</strong>, the leading recruitment platform in
    Canada.
    We are currently verifying the employment details of <strong>{{ work_experience.user.full_name }}</strong>,
    who has provided an employment confirmation letter from your organization on our platform.
</p>
<p>We kindly request your assistance in confirming the following details:</p>
<ul>
    <li><strong>Full Name of the Employee:</strong> {{ work_experience.user.full_name }}</li>
    <li><strong>Job Title/Position:</strong> {{ work_experience.job_title }}</li>
    <li><strong>Employment Period:</strong> {{ work_experience.duration }}</li>
    <li>
        <strong>Additional Relevant Details:</strong>
        <ul>
            <li><strong>Grade:</strong> {{ work_experience.get_grade_display }}</li>
            {% if work_experience.skills %}
            <li><strong>Skills:</strong> {{ work_experience.skills }}</li>
            {% endif %}
        </ul>
    </li>
</ul>
<p>
    For your convenience, a copy of the submitted document is attached. We kindly ask you to verify the information or
    share any discrepancies with us.
</p>
<p>
    Should you need further information, please do not hesitate to contact us at
    <a href="mailto:{{ cpj_email }}">{{ cpj_email }}</a> or
    <a href="tel:{{ cpj_phone }}">{{ cpj_phone }}</a>.
</p>
<p class="center">
    Thank you for your prompt response and cooperation.
</p>
<p class="center">
    Best regards,<br>
    <strong>Verification Team</strong><br>
    <strong>Canada Prime Jobs (CPJ)</strong><br>
    <a href="mailto:{{ cpj_email }}">{{ cpj_email }}</a><br>
    <a href="tel:{{ cpj_phone }}">{{ cpj_phone }}</a>
</p>
{% endblock %}