{% extends './base.html' %}

{% block body %}
🌟 <b>CPJ (Canada Prime Jobs) wishes you a wonderful day!</b> 🌟<br />
Your profile is <b>almost complete!</b> You’ve filled out the <b>Education</b> section—now just verify your educations
and update the
remaining details to <b>unlock your full job potential</b> with <b>CPJ</b>. A complete profile means <b>higher scores,
    faster matches,
    and better career opportunities</b> tailored just for you.<br />
✨ Take a moment to update now and move closer to your dream job! 🚀<br />
Thank you!<br />
{% endblock %}