{% extends "./base.html" %}

{% block body %}
🌟 <b>CPJ (Canada Prime Jobs) wishes you a fantastic day!</b> 🌟<br /><br />
We noticed that your <b>Canada Visa Status</b> information is missing. Adding this detail will make your profile <b>more
    complete and appealing</b> to employers using <b>CPJ</b>! A comprehensive profile means <b>faster matching with
    eligible positions, better employer engagement, and access to suitable career paths</b> aligned with your
status.<br /><br />
✨ Don't miss out—update now and enhance your job search experience! 🚀<br /><br />
Thank you!<br /><br />
{% endblock %}