{% extends './base.html' %}

{% block body %}
🌟 <b>CPJ (Canada Prime Jobs) wishes you a wonderful day!</b> 🌟<br />
We noticed your <b>Education</b> section is still incomplete. Adding your educational background will help <b>showcase
    your qualifications</b> and <b>unlock your full job potential</b> with <b>CPJ</b>! A complete profile means
<b>higher scores, faster matches, and better career opportunities</b> tailored just for you.<br />
✨ Take a moment to update now and move closer to your dream job! 🚀<br />
Thank you!<br />
{% endblock %}