{% extends './base.html' %}

{% block body %}
🌟 <b>CPJ (Canada Prime Jobs) wishes you a fantastic day!</b> 🌟<br /><br />
We noticed that your <b>Job Interests</b> section is empty. Adding your interests will help your profile <b>stand out to
    employers</b> and <b>attract more opportunities</b> with <b>CPJ</b>! A complete profile means <b>better job matches,
    higher visibility, and personalized career recommendations</b> tailored for you.<br /><br />
✨ Don't miss out—update now and open doors to exciting new opportunities! 🚀<br /><br />
Thank you!<br /><br />
{% endblock %}