{% extends './base.html' %}

{% block body %}
🌟 <b>CPJ (Canada Prime Jobs) wishes you a fantastic day!</b> 🌟<br /><br />
We noticed that your <b>Language Certificate</b> section is incomplete. Updating this will help ensure <b>better
    job-matching
    opportunities</b> with <b>CPJ</b>! A complete profile means <b>higher scores, faster matches, and access to top
    career options</b>
tailored for you.<br /><br />
✨ Don’t miss out—update now and take the next step toward your dream job! 🚀<br /><br />
Thank you!<br /><br />
{% endblock %}