{% extends './base.html' %}

{% block body %}
🌟 <b>CPJ (Canada Prime Jobs) wishes you a fantastic day!</b> 🌟<br />
We noticed that your <b>Work Experience</b> section is incomplete. Updating this will help you unlock the <b>full
    potential of job
    opportunities</b> with <b>CPJ</b>! A complete profile means <b>higher scores, faster matches, and better career
    options</b> tailored for
you. <br />
✨ Don’t miss out—update now and get one step closer to your dream job! 🚀 <br />
Thank you! <br />
{% endblock %}