{% extends './base.html' %}

{% block body %}
🌟 <b>CPJ (Canada Prime Jobs) wishes you a fantastic day!</b> 🌟<br />
<b>Thank you for uploading your resume!</b> To ensure your profile <b>stands out to top employers</b> and <b>maximizes
    your opportunities</b> with <b>CPJ</b>, please fill in the <b>remaining required information</b>. A complete profile
means <b>better visibility, higher match rates, and customized job recommendations</b> tailored to your unique skills
and experience.<br />
✨ Don't miss out—complete your profile now and unlock your full potential! 🚀<br />
Thank you!<br />
{% endblock %}