<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Resume</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <!-- {% static 'css/cv/main.css' %} -->
        <link
            rel="stylesheet"
            type="text/css"
            href="../../../static/css/cv/main.css"
        />
    </head>
    <body>
        <div class="cpj-watermark-container">
            <div class="cpj-watermark">
                <img
                    src="../../../static/img/logo/cpj-watermark.svg"
                    alt="CPJ Watermark"
                />
            </div>
        </div>
        <div role="main" lang="en" dir="ltr" class="resume-container">
            <div role="article" class="resume-wrapper">
                <div class="resume-content">
                    <div class="profile-column">
                        <div class="profile-info">
                            <img
                                src="../../../static/img/logo/cpj-banner.svg"
                                class="company-logo"
                                alt="Canada Prime Jobs Company Logo"
                            />
                            <div class="hollow-circle"></div>
                            <div class="profile-details">
                                <div class="details-wrapper">
                                    <div class="skills-section">
                                        <div class="section-title">Skills:</div>
                                        <div class="skills-list">
                                            <div class="skill-items">
                                                <div class="skill-item">
                                                    Microsoft Office
                                                </div>
                                                <div class="skill-item">
                                                    Excellent communication
                                                </div>
                                                <div class="skill-item">
                                                    Time management
                                                </div>
                                                <div class="skill-item">
                                                    Microsoft Office
                                                </div>
                                                <div class="skill-item">
                                                    Microsoft Office
                                                </div>
                                                <div class="skill-item">
                                                    Microsoft Office
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="social-section">
                                        <div class="section-title">
                                            Follow Me :
                                        </div>
                                        <div class="social-links">
                                            <div class="social-item">
                                                <div class="platform">
                                                    Linkedin
                                                </div>
                                                <div class="username">
                                                    emmasmith
                                                </div>
                                            </div>
                                            <div class="social-item">
                                                <div class="platform">
                                                    instagram:
                                                </div>
                                                <div class="username">
                                                    emmasmith_2002
                                                </div>
                                            </div>
                                            <div class="social-item">
                                                <div class="platform">
                                                    Telegram:
                                                </div>
                                                <div class="username">
                                                    emma_smith2002
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="language-section">
                                        <div class="section-title">
                                            Language:
                                        </div>
                                        <div class="language-list">
                                            <div class="language-item">
                                                English
                                            </div>
                                            <div class="language-item">
                                                French
                                            </div>
                                            <div class="language-item">
                                                Spanish
                                            </div>
                                            <div class="language-item">
                                                persian
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-column">
                        <div class="main-content">
                            <div class="header-section">
                                <div class="name-title">
                                    <div class="name">
                                        <span class="first-name">Emma</span>
                                        <span class="last-name">Smith</span>
                                    </div>
                                    <div class="job-title">
                                        Web & grapich designer
                                    </div>
                                </div>
                                <div class="update-date">
                                    Update : 12/06/2023
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="contact-info">
                                <div class="contact-item">
                                    <img
                                        src="../../../static/img/icon/Call.svg"
                                        class="contact-icon"
                                        alt="Phone icon"
                                    />
                                    <div class="contact-text">
                                        (123) 456-7890
                                    </div>
                                </div>
                                <div class="contact-item">
                                    <img
                                        src="../../../static/img/icon/email.svg"
                                        class="contact-icon"
                                        alt="Email icon"
                                    />
                                    <div class="contact-text">
                                        emma.smith@gmail.com
                                    </div>
                                </div>
                                <div class="contact-item">
                                    <img
                                        src="../../../static/img/icon/Building office.svg"
                                        class="contact-icon"
                                        alt="Location icon"
                                    />
                                    <div class="contact-text">
                                        Vancouver, BC
                                    </div>
                                </div>
                            </div>
                            <div class="resume-body">
                                <div class="content-sections">
                                    <div class="body-section">
                                        <div class="body-items">
                                            <div
                                                class="section-title-container"
                                            >
                                                <img
                                                    src="../../../static/img/icon/cv/Chat profile.svg"
                                                    alt="About"
                                                    class="section-icon"
                                                />
                                                <div class="section-title">
                                                    About Me:
                                                </div>
                                            </div>
                                            <div
                                                class="section-items"
                                                style="margin-top: 0"
                                            >
                                                <div
                                                    class="section-item"
                                                    style="margin-top: 0"
                                                >
                                                    <div
                                                        class="section-description"
                                                    >
                                                        Lorem ipsum dolor sit
                                                        amet consectetur
                                                        adipisicing elit. Ea,
                                                        eius atque neque
                                                        cupiditate iste quo quae
                                                        odit quis voluptates
                                                        dolore possimus
                                                        laudantium, eum
                                                        sapiente! Quam quasi
                                                        quia minus animi
                                                        commodi.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body-section">
                                        <div class="body-items">
                                            <div
                                                class="section-title-container"
                                            >
                                                <img
                                                    src="../../../static/img/icon/cv/Work 1.svg"
                                                    alt="About"
                                                    class="section-icon"
                                                />
                                                <div class="section-title">
                                                    Work Experience:
                                                </div>
                                            </div>
                                            <div class="section-items">
                                                <div class="section-item">
                                                    <div
                                                        class="section-heading"
                                                    >
                                                        <div
                                                            class="section-header"
                                                        >
                                                            <div
                                                                class="section-header-title"
                                                            >
                                                                Project
                                                                Coordinator
                                                            </div>
                                                            <div
                                                                class="section-item-metadata"
                                                            >
                                                                June 2018 -
                                                                Present
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="section-subheading"
                                                        >
                                                            XYZ Cooperation,
                                                            Vancouver, BC
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="section-description"
                                                    >
                                                        Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipisicing elit.
                                                        Incidunt nostrum
                                                        praesentium, rem eum
                                                        optio ipsam laboriosam!
                                                        Inventore omnis velit,
                                                        iusto dignissimos cum
                                                        architecto aspernatur
                                                        possimus molestiae, quae
                                                        totam dolor at?
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body-section">
                                        <div class="body-items">
                                            <div
                                                class="section-title-container"
                                            >
                                                <img
                                                    src="../../../static/img/icon/cv/board.svg"
                                                    alt="About"
                                                    class="section-icon"
                                                />
                                                <div class="section-title">
                                                    Certifications:
                                                </div>
                                            </div>
                                            <div class="section-list">
                                                <div class="section-list-item">
                                                    <span class="item-title">
                                                        2019
                                                    </span>
                                                    <span
                                                        class="item-description"
                                                    >
                                                        Project Management
                                                        Professionaldiv
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="cpj-label">
                                                by
                                                <span class="cpj-bold">
                                                    CPJ
                                                </span>
                                                :
                                            </div>
                                            <div class="section-list">
                                                <div class="section-list-item">
                                                    <span class="item-title">
                                                        2019
                                                    </span>
                                                    <span
                                                        class="item-description"
                                                    >
                                                        Project Management
                                                        Professional
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body-section">
                                        <div class="body-items">
                                            <div
                                                class="section-title-container"
                                            >
                                                <img
                                                    src="../../../static/img/icon/cv/Medal.svg"
                                                    alt="About"
                                                    class="section-icon"
                                                />
                                                <div class="section-title">
                                                    Volunteer Experience:
                                                </div>
                                            </div>
                                            <div class="section-items">
                                                <div class="section-item">
                                                    <div
                                                        class="section-heading"
                                                    >
                                                        <div
                                                            class="section-header"
                                                        >
                                                            <div
                                                                class="section-header-title"
                                                            >
                                                                Volunteer
                                                                Coordinator
                                                            </div>
                                                            <div
                                                                class="section-item-metadata"
                                                            >
                                                                September 2015 -
                                                                December 2017
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="section-subheading"
                                                        >
                                                            Local Food Bank,
                                                            Vancouver, BC
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="section-description"
                                                    >
                                                        Lorem ipsum dolor, sit
                                                        amet consectetur
                                                        adipisicing elit. Quam
                                                        est earum laudantium,
                                                        rerum ut quia
                                                        dignissimos ducimus
                                                        maxime labore. Iure, est
                                                        ab? Fuga quia nam
                                                        ducimus recusandae
                                                        obcaecati ipsam
                                                        reiciendis!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body-section">
                                        <div class="body-items">
                                            <div
                                                class="section-title-container"
                                            >
                                                <img
                                                    src="../../../static/img/icon/cv/Graduated.svg"
                                                    alt="About"
                                                    class="section-icon"
                                                />
                                                <div class="section-title">
                                                    Educations:
                                                </div>
                                            </div>
                                            <div class="section-items">
                                                <div class="section-item">
                                                    <div
                                                        class="section-heading"
                                                    >
                                                        <div
                                                            class="section-header"
                                                        >
                                                            <div
                                                                class="section-header-title"
                                                            >
                                                                Bachelor of Arts
                                                                in Business
                                                                Administration
                                                            </div>
                                                            <div
                                                                class="section-item-metadata"
                                                            >
                                                                May 2015
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="section-subheading"
                                                        >
                                                            University of
                                                            British Columbia,
                                                            Vancouver, BC
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="section-description"
                                                    >
                                                        Lorem ipsum dolor sit
                                                        amet consectetur,
                                                        adipisicing elit. Fugit
                                                        quos, inventore et eum
                                                        itaque debitis vero qui
                                                        iste non harum repellat,
                                                        maiores reprehenderit
                                                        ipsum quidem nihil
                                                        fugiat cupiditate
                                                        obcaecati quis.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body-section">
                                        <div class="body-items">
                                            <div
                                                class="section-title-container"
                                            >
                                                <img
                                                    src="../../../static/img/icon/cv/Medal.svg"
                                                    alt="About"
                                                    class="section-icon"
                                                />
                                                <div class="section-title">
                                                    Additional Sections:
                                                </div>
                                            </div>
                                            <div class="section-list">
                                                <div class="section-list-item">
                                                    <span
                                                        class="section-description"
                                                        >Professional
                                                        Affiliations:
                                                        Memberships in relevant
                                                        organizations</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="resume-footer">
                <div class="footer-reference">
                    <div class="reference-text">refrenced by :</div>
                    <div class="company-reference">
                        <img
                            src="../../../static/img/logo/cpj-logo-28x29.svg"
                            class="reference-logo"
                            alt="CPJ company logo"
                        />
                        <div class="company-name">CPJ company</div>
                    </div>
                </div>
                <div class="footer-contact">
                    <div class="contact-label">Contact us :</div>
                    <div class="contact-email">info@cpj.ai</div>
                </div>
            </footer>
        </div>
    </body>
</html>
