{% load common %}


<h2 style="color: #333; text-align: center;">Dear {{ request.template_context.email_receiver_name }},</h2>
<p style="color: #555; font-size: 16px;">
    We received a request to reset your password for your CPJ account.
</p>
<p style="color: #555; font-size: 16px;">
    If you made this request, please click the link below to reset your password:
</p>
<p style="text-align: center;">
    <a href="{{ request.template_context.email_callback_url }}?token={{ token }}" class="button" style="color: white;">
        Reset My Password
    </a>
</p>
<p style="color: #555; font-size: 16px;">
    For security reasons, this link will remain active for 1 hour. If you do not reset your password within this
    timeframe, you will need to request a new link.
</p>
<p style="color: #555; font-size: 16px;">
    If you did not make this request, you can safely ignore this email. Your account remains secure, and no changes have
    been made.
</p>
<p style="color: #555; font-size: 16px;">
    If you have any questions or require further assistance, please don’t hesitate to
    <a href="mailto:{% email_variables 'support_email' %}" style="color: #007BFF; text-decoration: none;">contact our
        support</a>
    team. We’re
    here to help 24/7.
</p>
<p style="color: #333; font-size: 16px; text-align: center;">
    Warm regards,<br>
    <strong>The CPJ Support Team</strong><br>
</p>